@using NorthCyprusHoliday.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-banner">
    <div class="wrap">
        <div class="banner">
            <div class="indent">
                <h2 class="indent-left margin-bot">Plan the Easy Trip</h2>
            
                <div class="header_bottom_right_images">

                  


                    <div class="slider">
                        <ul class="rslides" id="slider1">
                            @foreach(var x in Model)
                            {
                            <li><img  src="@x.BlogImage" class="img-responsive" alt=""></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class"content">
    <div class="wrap">
        <div class="wrapper">
            <div class="con-top">
                <h3>Welcome to Cyprus</h3>
                <p>
                    Cyprus is the third largest island in the Mediterranean and is located south of Turkey, west of  Lebanon and north of Egypt. This country possesses a richness of contrasts: The East region is famous for the sparkling and crystal waters and the golden sandy beaches. The South has orchards and vines which undulate toward the sea.  The Troodos Mountains are the island’s “green heart” with endless vistas of forests, valleys orchards, and traditional villages.

                    <br /> The island has a long history and a rich culture that spans 10,000 years.  It is said, “scratch the soil anywhere in Cyprus and you will find traces of its magnificent past”.   It is not surprising then that UNESCO includes a number of the island’s sights on its list of World Heritage Sites.

                    <br /> The climate is mild and Mediterranean with dry summers and variably short winters.
                </p>
            </div>
            


            @Html.Action("Partial1","Home")



            <div class="grids">
                <div class="box1">
                    @Html.Action("Partial3", "Home")
                    @Html.Action("Partial4", "Home")
                   
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>