
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>NCH Admin Panel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        
        <a href="/Admin/Index" class="w3-bar-item w3-button">Blog Yazıları</a>
        <a href="/Admin/YorumListesi" class="w3-bar-item w3-button">Yorumlar</a>
        <a href="/Admin/Index" class="w3-bar-item w3-button">İletişim</a>
        <a href="/Admin/Hakkimizda" class="w3-bar-item w3-button">Hakkımızda</a>
        
    </div>

    <!-- Page Content -->
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
        <div class="w3-container">
            <h2>Admin Panel</h2>
            <p style="text-align:right!important;"><a target="_blank" href="/Home/Index" class="w3-bar-item w3-button">Siteyi Gör</a> | <a href="/GirisYap/Logout" class="w3-bar-item w3-button">Çıkış Yap</a></p>
            
        </div>
    </div>

    @RenderBody()


    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>

</body>
</html>
